
{{ define "main" }}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">El Colegio </a></li>
      <li><a href="blog.html">Horizonte</a></li>
    </ol>
    <h2> </h2>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry entry-single">

          <div class="entry-img">
            <img src="{{ .Param `ImagenDestacada` }}" alt="Imagen destacada de: {{.Title }}" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">{{ .Title }}</a>
          </h2>

          <div class="entry-content">
            {{ .Content }}
          </div>
        </article><!-- End blog entry -->
      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">
          <h3 class="sidebar-title">Horizonte Institucional</h3>
          <div class="sidebar-item categories">
            <aside>
              <ul>
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.horizonte }}
                      {{ if .HasChildren }}
                          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                              <a href="#">
                                  {{ .Pre }}
                                  <span>{{ .Name }}</span>
                              </a>
                          </li>
                          <ul class="sub-menu">
                              {{ range .Children }}
                                  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                      <a href="{{ .URL }}">{{ .Name }}</a>
                                  </li>
                              {{ end }}
                          </ul>
                      {{ else }}
                          <li>
                              <a href="{{ .URL }}">
                                  {{ .Pre }}
                                  <span>{{ .Name }}</span>
                              </a>
                          </li>
                      {{ end }}
                  {{ end }}
              </ul>
            </aside>
          </div><!-- End sidebar categories-->
          <!-- sidebar start -->
        </div><!-- End sidebar -->
  
      </div><!-- End blog sidebar -->
    </div>

  </div>
</section><!-- End Blog Section -->

{{ end }}
