
{{ define "main" }}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">El Colegio </a></li>
      <li><a href="blog.html">Horizonte</a></li>
    </ol>
    <h2> </h2>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry entry-single">

          <div class="entry-img">
            <img src="{{ .Param `ImagenDestacada` }}" alt="Imagen destacada de: {{.Title }}" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">{{ .Title }}</a>
          </h2>

          <div class="entry-content">
            {{ .Content }}
          </div>
        </article><!-- End blog entry -->
      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">
  
          <h3 class="sidebar-title">Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              <li><a href="#">General <span>(25)</span></a></li>
              <li><a href="#">Lifestyle <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(5)</span></a></li>
              <li><a href="#">Design <span>(22)</span></a></li>
              <li><a href="#">Creative <span>(8)</span></a></li>
              <li><a href="#">Educaion <span>(14)</span></a></li>
            </ul>
          </div><!-- End sidebar categories-->
  
        </div><!-- End sidebar -->
  
      </div><!-- End blog sidebar -->
    </div>

  </div>
</section><!-- End Blog Section -->

{{ end }}
