
{{ define "main" }}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">El Colegio </a></li>
      <li><a href="blog.html">Horizonte</a></li>
    </ol>
    <h2> </h2>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-12 entries">

        <article class="entry entry-single">

          <div class="entry-img">
            <img src="{{ .Param `ImagenDestacada` }}" alt="Imagen destacada de: {{.Title }}" class="img-fluid">
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">{{ .Title }}</a>
          </h2>

          <div class="entry-content">
            {{ .Content }}
          </div>
        </article><!-- End blog entry -->
      </div><!-- End blog entries list -->
    </div>

  </div>
</section><!-- End Blog Section -->

{{ end }}
